@model NetBanking.Models.NetBankingUserRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NetBankingUserRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeAuthorizationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeAuthorizationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAuthorization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAuthorization)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
