@model NetBanking.Models.tblTransactions

@{
    ViewBag.Title = "CuentasPropias";
    Layout = "~/Views/Shared/_LayoutvOffice.cshtml";
}

<h2>CuentasPropias</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblTransactions</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Desde la cuenta:</label>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.AccIssuer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AccIssuer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>A la cuenta:</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.AccBeneficiary, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AccBeneficiary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Monto:</label>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.TransactMount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TransactMount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label>Concepto: (Opcional)</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Concept, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Concept, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Confirmar" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Cuentas favoritas", "Index")
        </div>
